name: Lint Markdown

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  markdownlint:
    name: markdown lint
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run markdown lint
        run: ./bin/lint_markdown.sh
        
  configlet:
    name: configlet lint + fmt
    uses: exercism/github-actions/.github/workflows/configlet.yml@main
    with:
      fmt: true