# This workflow will do a clean install of the dependencies and run tests across different versions

name: CI

# Run this workflow every time a new commit is pushed to the repository
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  schedule:
    # Weekly.
    - cron: "0 0 * * 0"

jobs:
  # markdownlint:
  #   name: markdown lint
  #   runs-on: ubuntu-22.04

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

  #     - name: Run markdown lint
  #       run: ./bin/lint_markdown.sh

  # stolen from https://raw.githubusercontent.com/exercism/github-actions/main/.github/workflows/shellcheck.yml
  shellcheck:
    name: Run shellcheck on scripts
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38

  build:
    name: Check build
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Fetch origin/main
        run: git fetch --depth=1 origin main

      - name: Getting scarb
        uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.6.3"

      - name: Verify all exercises
        env:
          DENYWARNINGS: "1"
        run: bin/verify-exercises

  format:
    name: Check Cairo formatting
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Getting scarb
        uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.6.3"

      - name: Format
        run: ./bin/format_exercises.sh

      - name: Diff
        run: |
          if ! git diff --color --exit-code; then
            echo "Please run cargo fmt, or see the diff above:"
            exit 1
          fi
